<div style="display: flex;"  class="login">
    <div class="container">
        <div style="margin-top: 30%;" class="row">
            <div  style="border-right:  3px solid white;" class="col-sm-6">
                <h1 class="logo" >helper</h1>
            </div>
            <div style="display: flex; align-items: center; " class="col-sm-6">
                <form action="/action_page.php">
                    <span class="texto">Login</span><br>
                    <input class="tlogin" type="text" id="fname" name="fname" placeholder="User@email.com"><br>
                    <input class="tsenha" type="password" id="lname" name="lname" placeholder="******"><br><br>
                    <button class="tentrar"mat-raised-button color="warn">Entrar</button>
                    <br>
                    <mat-checkbox style="color: white;" class="example-margin" >Lembrar-me</mat-checkbox>
                    <a  style="color: rgb(150, 0, 0);; margin-left: 100px; font-weight: bold; text-shadow: 1px 1px black;">Esqueceu a senha?</a>
                </form>

            </div>
        </div>
    </div>
</div>
